rvm:
- 2.0.0
- 2.1
- 2.2

sudo: true

env:
- CHEF_VERSION="~> 11.0"
- CHEF_VERSION="~> 12.0"

matrix:
  exclude:
# Chef 11 cannot resolve dependencies in Ruby 2.2 (mixlib-shellout):
  - rvm: 2.2
    env: CHEF_VERSION="~> 11.0"

bundler_args: --jobs=3 --retry=3 --without='doc integration integration_vagrant integration_docker integration_cloud guard'

script:
- bundle exec rake style unit
